*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
  list-style: none;
}

img{
  width: 100%;
}

body{
  background-color: $background-color;
}

a{
  text-decoration: none;
  color: white;
}

.container{
  width: 80%;
  margin: 0 auto;
}

.jumbotron{
  height: $jumbotron-height;
  background-image: url('/images/jumbotron.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}