$header-height: 5rem;
$jumbotron-height: 20rem;
$app-icons-height: 8rem;

$brand-primary-color: #0c7cec;
$brand-primary-color-light: #00a9d9;
$brand-primary-color-dark: #003f5e;
$primary-color: #303030;
$background-color: #1c1c1c;