* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

nav {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  height: 100%;
  width: 3rem;
}

nav .navbar-list {
  padding: 20px;
  display: flex;
}

nav .navbar-list li {
  margin: 0 10px;
  text-transform: uppercase;
}

.footer-top {
  margin-bottom: 1rem;
}

.footer-top .footer-list-wrapper {
  display: flex;
}

.footer-top .footer-list-wrapper .footer-col {
  margin: 0 20px;
}

.footer-top .footer-list-wrapper .footer-col .footer-list h3 {
  text-transform: uppercase;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
}

.footer-bottom .socials {
  display: flex;
}

.footer-bottom .socials h3 {
  text-transform: uppercase;
  margin-right: 10px;
}

.footer-bottom .socials ul {
  display: flex;
}

.footer-bottom .socials ul li {
  margin-right: 10px;
}

