nav{
  height: $header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo{
    height: 100%;
    width: $header-height;
  }

  .navbar-list{
    padding: 20px;
    display: flex;
  
    li{
      margin: 0 10px;
      text-transform: uppercase;
    }
  }
}
